Flask>=2.2
Flask-JWT-Extended
flask-pymongo
bcrypt
python-dotenv
pytest
pytest-flask
coverage
flask-mail
useragents
email-validator
Flask-Limiter
Flask-Cors
itsdangerous
Jinja2
MarkupSafe
Werkzeug
gunicorn
user-agents
